*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #3e3a3a, #b50000); /* Gradiente de negro a #b50015 */
    background-attachment: fixed; /* Hace que el fondo sea fijo al hacer scroll */
    background-size: cover; /* Asegura que el gradiente cubra toda la pantalla */
    color: #ffffff; /* Texto blanco para contraste */
    overflow-x: hidden;
}
:root {
    --header-bg: #1a1a1a;
    --text-light: #f9f9f9;
    --accent: #ff7e6b;
    --hover-bg: #2a2a2a;

    --color-fondo: #ffffff;
    --color-texto: #111111;
    --color-principal: #b50000; 
    --color-secundario: #f2f2f2;
    --color-tarjeta: #ffffff;
    --color-modal:rgba(255,255,255,0.6);
}  

/*dark mode*/
  body.dark-mode {
    --color-fondo: #121212;
    --color-texto: #eeeeee;
    --color-secundario: #1e1e1e;
    --color-tarjeta: #1a1a1a;
    --color-modal:rgba(0,0,0,0.6);
  }
  

/* Header */
  .main-header {
    background-color: var(--header-bg);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .logo h1 a {
    text-decoration: none;
    color: var(--accent);
    font-size: 1.8rem;
  }
  .dark-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--accent);
    color: white;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .main-nav a {
    text-decoration: none;
    color: var(--text-light);
    padding: 10px;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
  }
  
  .main-nav a:hover {
    background-color: var(--hover-bg);
    color: var(--accent);
  }
  
  /* Icono hamburguesa */
  .menu-icon {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .menu-icon span {
    height: 3px;
    width: 25px;
    background: var(--text-light);
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  /* Toggle del menú */
  #menu-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .menu-icon {
      display: flex;
    }
  
    .main-nav {
      position: absolute;
      top: 70px;
      left: 0;
      background-color: var(--header-bg);
      width: 100%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
    }
  
    #menu-toggle:checked ~ .main-nav {
      max-height: 300px;
    }
  
    .main-nav ul {
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 0;
      text-align: center;
    }
  }
  
.video-section {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
   filter: brightness(0.5);
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.card-title{
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
    padding: 10px;
    color: var(--color-fondo);
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background-color: var(--color-tarjeta);
    border: 1px solid var(--color-tarjeta);
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    color: var(--color-texto);
    font-size: 2rem;
    margin: 15px 0;
}

.card p {
    font-size: 1.5rem;
    padding: 0 15px 15px;
    color: var(--color-texto);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
/* Contador animado */
.counter-section {
    text-align: center;
    padding: 50px 20px;
    color: var(--color-fondo);
    font-size: 2rem;
}

.counters {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.counter {
    background: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
}

.counter .count {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-principal);
    display: block;
    animation: crecer 1.2s ease-in-out forwards;
    transform: scale(0);
    opacity: 0;
}
@keyframes crecer {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.counter p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--color-texto);
}

/* Carrusel*/
.slider-title{
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color: var(--color-fondo);
}
.slider-box{
    width: 100%;
    margin:30px;
    overflow: hidden;
}
.slider-box ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: slide 9s infinite alternate ease-in-out;
}
.slider-box li{
    width: 200%;
    padding:0;
    list-style: none;
    position: relative;
}
.texto{
top:250px;
color: var(--color-tarjeta);
}
.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
    margin-top: 20px;
}
.slider-box img{
    width: 350px;
    height: 500px;
    border-radius: 20px;
}

@keyframes slide{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* Footer */
footer {
    margin-top: 30px;
    background-color: var(--header-bg);
    color: var(--text-light);
    padding: 60px 20px;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  footer h2,
  footer h3 {
    color: #ff786b;
    margin-bottom: 20px;
  }
  
  .iframe-container {
    max-width: 800px;
    margin: 0 auto 40px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  
  .maps {
    width: 100%;
    height: 300px;
    border: none;
  }
  
  .newsletter-section {
    margin-bottom: 40px;
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  
  .newsletter-form input[type="email"] {
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    width: 300px;
    max-width: 90%;
    font-size: 1rem;
  }
  
  .newsletter-form button {
    padding: 12px 20px;
    background-color: #ff786b;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .newsletter-form button:hover {
    background-color: #e46053;
  }
  
  .social-links {
    margin-top: 40px;
  }
  
  .links-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 15px;
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: #f3f3f3;
    background-color: #3a3a3a;
    padding: 12px;
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon:hover {
    background-color: #ff786b;
    transform: scale(1.1);
  }
  
  .social-icon i {
    width: 24px;
    height: 24px;
  }
  
  footer p {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #aaa;
  }
  